<%= form_with(scope: :search, url: ramens_search_path, method: :get, local: true) do |f| %>
<div class="search-field">
  <div class="form-group field ">
    <div class="form-label search-text-field">
      <%= f.label(:store,'店名') %>
    </div>
    <%= f.text_field :store, class: "text-field-width", value: @search_params[:store] %>
  </div>
  <div class="form-group field ">
    <div class="form-label  search-text-field">
      <%= f.label(:product_name, '商品名') %>
    </div>
    <%= f.text_field :product_name, class: "text-field-width", value: @search_params[:product_name] %>
  </div>
  <div class="form-group field ">
    <div class="form-label">
      <%= f.label :ジャンル %>
    </div>
    <div class="form-check form-check-inline form-search-check">
      <%= f.radio_button :genre, "ラーメン", class: "form-check-input",checked: @search_params[:genre]=="ラーメン" %>
      <%= f.label :ラーメン, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-search-check">
      <%= f.radio_button :genre, "つけ麺", class: "form-check-input",checked: @search_params[:genre]=="つけ麺" %>
      <%= f.label :つけ麺, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :genre, "油そば", class: "form-check-input",checked: @search_params[:genre]=="油そば" %>
      <%= f.label :油そば, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-search-check">
      <%= f.radio_button :genre, "タンメン", class: "form-check-input",checked: @search_params[:genre]=="タンメン" %>
      <%= f.label :タンメン, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :genre, "その他", class: "form-check-input",checked: @search_params[:genre]=="その他" %>
      <%= f.label :その他, class: "form-check-label search-label" %>
    </div>
  </div>
  <div class="form-group field ">
    <div class="form-label">
      <%= f.label :スープ %>
    </div>
    <div class="form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "醤油", class: "form-check-input",checked: @search_params[:soup]=="醤油" %>
      <%= f.label :醤油, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "味噌", class: "form-check-input",checked: @search_params[:soup]=="味噌" %>
      <%= f.label :味噌, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "豚骨", class: "form-check-input",checked: @search_params[:soup]=="豚骨" %>
      <%= f.label :豚骨, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "塩", class: "form-check-input",checked: @search_params[:soup]=="塩" %>
      <%= f.label :塩, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "魚介系", class: "form-check-input",checked: @search_params[:soup]=="魚介系" %>
      <%= f.label :魚介系, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "煮干し", class: "form-check-input",checked: @search_params[:soup]=="煮干し" %>
      <%= f.label :煮干し, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "家系", class: "form-check-input",checked: @search_params[:soup]=="家系" %>
      <%= f.label :家系, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "次郎系", class: "form-check-input",checked: @search_params[:soup]=="次郎系" %>
      <%= f.label :次郎系, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "坦々", class: "form-check-input",checked: @search_params[:soup]=="坦々" %>
      <%= f.label :坦々, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "辛口", class: "form-check-input",checked: @search_params[:soup]=="辛口" %>
      <%= f.label :辛口, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "高級食材系", class: "form-check-input",checked: @search_params[:soup]=="高級食材系" %>
      <%= f.label :高級食材系, class: "form-check-label search-label" %>
    </div>
    <div class=" form-check form-check-inline form-search-check">
      <%= f.radio_button :soup, "その他", class: "form-check-input",checked: @search_params[:soup]=="その他" %>
      <%= f.label :その他, class: "form-check-label search-label" %>
    </div>
  </div>
  <div class="form-group field ">
    <div class="form-label">
      <%= f.label :味 %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :taste, "とてもあっさり", autofocus: true, class: "form-check-input", checked: @search_params[:taste]=="とてもあっさり"  %>
      <%= f.label :とてもあっさり, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :taste, "あっさり", autofocus: true, class: "form-check-input", checked: @search_params[:taste]=="あっさり"  %>
      <%= f.label :あっさり, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :taste, "普通", autofocus: true, class: "form-check-input", checked: @search_params[:taste]=="普通"  %>
      <%= f.label :普通, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :taste, "濃いめ", autofocus: true, class: "form-check-input", checked: @search_params[:taste]=="濃いめ"  %>
      <%= f.label :濃いめ, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :taste, "特濃", autofocus: true, class: "form-check-input", checked: @search_params[:taste]=="特濃"  %>
      <%= f.label :特濃, class: "form-check-label search-label" %>
    </div>
  </div>
  <div class="form-group field">
    <div class="form-label">
      <%= f.label :ボリューム %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :volume, "小盛り", autofocus: true, class: "form-check-input", checked: @search_params[:volume]=="小盛り"  %>
      <%= f.label :小盛り, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :volume, "普通", autofocus: true, class: "form-check-input", checked: @search_params[:volume]=="普通"  %>
      <%= f.label :普通, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :volume, "大盛り", autofocus: true, class: "form-check-input", checked: @search_params[:volume]=="大盛り"  %>
      <%= f.label :大盛り, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :volume, "特盛", autofocus: true, class: "form-check-input", checked: @search_params[:volume]=="特盛"  %>
      <%= f.label :特盛, class: "form-check-label search-label" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="form-label">
      <%= f.label :麺の太さ %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :noodle, "細麺", autofocus: true, class: "form-check-input", checked: @search_params[:noodle]=="細麺"  %>
      <%= f.label :細麺, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :noodle, "中太", autofocus: true, class: "form-check-input", checked: @search_params[:noodle]=="中太"  %>
      <%= f.label :中太, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :noodle, "太麺", autofocus: true, class: "form-check-input", checked: @search_params[:noodle]=="太麺"  %>
      <%= f.label :太麺, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :noodle, "平打ち麺", autofocus: true, class: "form-check-input", checked: @search_params[:noodle]=="平打ち麺"  %>
      <%= f.label :平打ち麺, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :noodle, "ちぢれ麺", autofocus: true, class: "form-check-input", checked: @search_params[:noodle]=="ちぢれ麺"  %>
      <%= f.label :ちぢれ麺, class: "form-check-label search-label" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="form-label">
      <%= f.label :油の量 %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :oily, "少なめ", autofocus: true, class: "form-check-input", checked: @search_params[:oily]=="少なめ"  %>
      <%= f.label :少なめ, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :oily, "普通", autofocus: true, class: "form-check-input", checked: @search_params[:oily]=="普通"  %>
      <%= f.label :普通, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :oily, "多め", autofocus: true, class: "form-check-input", checked: @search_params[:oily]=="多め"  %>
      <%= f.label :多め, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :oily, "ギトギト", autofocus: true, class: "form-check-input", checked: @search_params[:oily]=="ギトギト"  %>
      <%= f.label :ギトギト, class: "form-check-label search-label" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="form-label">
      <%= f.label :チャーシュー %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :meat, "なし", autofocus: true, class: "form-check-input", checked: @search_params[:meat]=="なし"  %>
      <%= f.label :なし, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :meat, "薄切り", autofocus: true, class: "form-check-input", checked: @search_params[:meat]=="薄切り"  %>
      <%= f.label :薄切り, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :meat, "普通", autofocus: true, class: "form-check-input", checked: @search_params[:meat]=="普通"  %>
      <%= f.label :普通, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :meat, "厚切り", autofocus: true, class: "form-check-input", checked: @search_params[:meat]=="厚切り"  %>
      <%= f.label :厚切り, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :meat, "極厚", autofocus: true, class: "form-check-input", checked: @search_params[:meat]=="極厚"  %>
      <%= f.label :極厚, class: "form-check-label search-label" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="form-label">
      <%= f.label :トッピングの量 %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :topping, "なし", autofocus: true, class: "form-check-input", checked: @search_params[:topping]=="なし"  %>
      <%= f.label :なし, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :topping, "少なめ", autofocus: true, class: "form-check-input", checked: @search_params[:topping]=="少なめ"  %>
      <%= f.label :少なめ, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :topping, "普通", autofocus: true, class: "form-check-input", checked: @search_params[:topping]=="普通"  %>
      <%= f.label :普通, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :topping, "多め", autofocus: true, class: "form-check-input", checked: @search_params[:topping]=="多め"  %>
      <%= f.label :多め, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :topping, "特盛", autofocus: true, class: "form-check-input", checked: @search_params[:topping]=="特盛"  %>
      <%= f.label :特盛, class: "form-check-label search-label" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="form-label">
      <%= f.label :中毒性 %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :addictive, "なし", autofocus: true, class: "form-check-input", checked: @search_params[:addictive]=="なし"  %>
      <%= f.label :なし, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :addictive, "ややあり", autofocus: true, class: "form-check-input", checked: @search_params[:addictive]=="ややあり"  %>
      <%= f.label :ややあり, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :addictive, "あり", autofocus: true, class: "form-check-input", checked: @search_params[:addictive]=="あり"  %>
      <%= f.label :あり, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :addictive, "猛毒", autofocus: true, class: "form-check-input", checked: @search_params[:addictive]=="猛毒"  %>
      <%= f.label :猛毒, class: "form-check-label search-label" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="form-label">
      <%= f.label :混雑度 %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :croweded, "空いている", autofocus: true, class: "form-check-input", checked: @search_params[:croweded]=="空いている"  %>
      <%= f.label :空いている, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :croweded, "やや空いている", autofocus: true, class: "form-check-input", checked: @search_params[:croweded]=="やや空いている"  %>
      <%= f.label :やや空いている, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :croweded, "普通", autofocus: true, class: "form-check-input", checked: @search_params[:croweded]=="普通"  %>
      <%= f.label :普通, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :croweded, "やや混雑", autofocus: true, class: "form-check-input", checked: @search_params[:croweded]=="やや混雑"  %>
      <%= f.label :やや混雑, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :croweded, "激混み", autofocus: true, class: "form-check-input", checked: @search_params[:croweded]=="激混み"  %>
      <%= f.label :激混み, class: "form-check-label search-label" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="form-label">
      <%= f.label :サービス %><br />
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :service, "良くない", autofocus: true, class: "form-check-input", checked: @search_params[:service]=="良くない"  %>
      <%= f.label :良くない, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :service, "あまり良くない", autofocus: true, class: "form-check-input", checked: @search_params[:service]=="あまり良くない"  %>
      <%= f.label :あまり良くない, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :service, "普通", autofocus: true, class: "form-check-input", checked: @search_params[:service]=="普通"  %>
      <%= f.label :普通, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :service, "良い", autofocus: true, class: "form-check-input", checked: @search_params[:service]=="良い"  %>
      <%= f.label :良い, class: "form-check-label search-label" %>
    </div>
    <div class="form-check form-check-inline form-new-check">
      <%= f.radio_button :service, "とても良い", autofocus: true, class: "form-check-input", checked: @search_params[:service]=="とても良い"  %>
      <%= f.label :とても良い, class: "form-check-label search-label" %>
    </div>
  </div>
</div>
</div>
<div class="btn-center btn-search" type="submit">
  <%= f.submit "検索", class: "btn btn-primary submit-btn" %>
</div>
<% end %>