<% provide(:title, "新規投稿")%>
<div class="row white-container">
  <div class="col offset-4 col-4">
    <h2 class="title black-text-title">新規投稿</h2>
    <%= form_with(model: @remen, url: ramens_path, local: true) do |f| %>
    <%= render 'ramen_error_messages'%>
    <div class="col align-self-center form-size field">
      <div class="form-group field">
        <%= f.label :店名 %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :商品名 %>
        <%= f.text_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上の英数字を入力してください" %>
      </div>

      <div class="form-group field">
        <%= f.label :価格 %><br />
        <%= f.text_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上の英数字を入力してください" %>
      </div>

      <div class="form-group field">
        <%= f.label :ラーメン画像 %><br />
        <%= f.file_field :photo, autofocus: true, class: "form-control file-field" %>
      </div>

      <div class="form-group field">
        <%= f.label :コメント %><br />
        <%= f.text_area :profile, autofocus: true, class: "form-control text-field", rows: 5, placeholder: "好きなラーメンの系統やこだわりなど自分のプロフィールを書こう！(200文字以内)" %>
      </div>

      <div class="btn-center" type="submit">
        <%= f.submit "投稿", class: "btn btn-primary submit-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>