<% provide(:title, "My Page")%>
<div class="row white-container">
  <div class="col align-self-center">
    <h2 class="title black-text-title">My Page</h2>
    <div class="row user_info">
      <div class="row">
        <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(gravity: "Center", resize:"90x90^",crop:"90x90+0+0").processed,alt: "user_image", class: "user_image"%>
        <% else %>
        <%= image_tag 'user_default.png', alt: "user_image", class: "user_default_image user_image"%>
        <% end %>
      </div>
      <div class="user-right-info">
        <h4 class="user_name"><%= @user.name %></h4>
        <p class="user_profile"><%= @user.profile %></p>
        <div class="row">
          <div class="col col-2">
            <%= link_to "更新",edit_user_registration_path(current_user), class: "btn btn-danger btn-sm user_btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row tab-container">
    <div class="container-fluid">
      <div class="row justify-content-center no-gutters">
        <div class="container tab_box">
          <ul class="tab-list">
            <li class="tab box-active">自分の投稿</li>
            <li class="tab">いいね！した投稿</li>
          </ul>
          <div class="tabbox-contents">
            <div class="container-fluid">
              <div class="row row justify-content-center no-gutters">
                <div class="tabbox box-show">
                  <%= render partial: 'pages/ramens', collection: @ramens, as: :ramen %>
                </div>
                <div class="tabbox">
                  <%= render partial: 'pages/ramens', collection: @liked_ramens, as: :ramen %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= paginate @ramens%>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'users/show' %>