<div class="col-sm-6 col-md-4">
  <div class="ramen_image">
    <%= image_tag ramen.photo.variant(gravity: "Center", resize:"300x250^",crop:"300x250+0+0").processed,alt: "ramen_image", class: "ramen_image d-block mx-auto"%>
  </div>
  <div class="ramen_info  three_col">
    <div class="ramen_info_mini">
      <h3 class="ramen_store"><%= ramen.store %></h3>
      <div class="rigth-content">
        <p class="ramen_name"><%= ramen.product_name %></p>
        <% if ramen.price %>
        / <p class="ramen_price">¥ <%= ramen.price %></p>
        <% end %>
      </div>
    </div>
    <div class="comment_field">
      <div class="ramen_comment">
        <p><%= ramen.comment %></p>
      </div>
    </div>
    <div class="row">
      <div class="col col-1">
        <%= link_to "詳細", ramen_path(ramen), class: "btn btn-danger btn-sm ramen_btn sm-btn" %>
      </div>
      <% if ramen.user_id == current_user.id %>
      <div class="col col-1">
        <%= link_to "編集", edit_ramen_path(ramen), class: "btn btn-danger btn-sm ramen_btn sm-btn" %>
      </div>
      <% end %>
      <div class="col col-1">
        <div id="like-<%= ramen.id %>">
          <%= render partial: "pages/like", locals: { ramen: ramen } %>
        </div>
      </div>
    </div>

    <p class="ramen-time">投稿日: <%= ramen.created_at.strftime('%Y/%m/%d') %></p>
  </div>
</div>