<% if user_signed_in? %>
<div class="jumbotron text-center top-image-mini">
  <div class="col align-self-center">
    <h3 class="mendou-font mendou-font-mini">あなたの人生最高の一杯をここでみつけよう</h3>
    <%= link_to "検索", ramens_search_path, class: "btn btn-flat-border search-top-btn" %><br />
  </div>
</div>
<div class="row tab-container">
  <div class="container-fluid">
    <div class="row justify-content-center no-gutters">
      <div class="container tab_box">
        <ul class="tab-list">
          <li class="tab box-active">最近の投稿</li>
          <li class="tab">人気投稿</li>
        </ul>
        <div class="tabbox-contents">
          <div class="container-fluid">
            <div class="row row justify-content-center no-gutters">
              <div class="tabbox box-show">
                <%= render partial: 'pages/ramens', collection: @ramens, as: :ramen %>
              </div>
              <div class="tabbox">
                <%= render partial: 'pages/ramens', collection: @ramen_lanking, as: :ramen %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="paginate">
      <%= paginate @ramens%>
    </div>
  </div>
</div>
</div>
<%= javascript_pack_tag 'users/show' %>
<% else %>
<div class="jumbotron text-center">
  <div class="col align-self-center">
    <h3 class="mendou-font">あなたの人生最高の一杯をここでみつけよう</h3>
    <%= link_to "はじめる", new_user_session_path, class: "btn btn-flat-border" %><br />
    <%= link_to "テストログイン", pages_guest_sign_in_path, method: :post, class: "btn btn-flat-border test-login" %>
  </div>
</div>
<div class="text-center red-container">
  <h2 class="title" , id="about">ABOUT</h2>
  <p class="title-msg">
    このサービスでは、ラーメンを愛する者たちが集い<br>自分の食べたラーメンを共有することができます。<br>また、蓄積されたラーメンデータベースの中から<br>あなたが求める最高のラーメンを探し出せる。
  </p>
</div>
<% end %>