<!DOCTYPE html>
<html>
<%= render "layouts/head" %>

<body>
  <%= render "layouts/header" %>
  <%= render "layouts/flash_msg" %>
  <div class="wrapper">

    <%= yield %>

    <%= render "layouts/fixed_btn" %>
    <%= render "layouts/footer" %>
  </div>
  <%= render "layouts/foot" %>
</body>

</html>